<%@round.scores.each do |r|  %>
<div class='hole-button'>
  <% if r.strokes %>
    <%= link_to hole_name(r.hole.name), rounds_get_score_path(score:{id:r.id}), remote: true, method: :get %>
  <% else %>
  <%= link_to hole_name(r.hole.name), rounds_get_score_path(score:{id:r.id}), remote: true, method: :get, class:'missing-strokes-btn' %>
  <% end %>
</div>
<% end %>
