<%@round.scores.each do |r|  %>
<div class='hole-button'>
  <% if r.strokes %>
    <%= link_to hole_name(r.hole.name), round_score_path(:round_id=>@round.id,:id=>r.id), remote: true%>
  <% else %>
    <%= link_to hole_name(r.hole.name), round_score_path(:round_id=>@round.id,:id=>r.id),class:'missing-strokes-btn', remote: true%>
  <% end %>
</div>
<% end %>
