<h1>Matches#show</h1>
<p>Find me in app/views/matches/show.html.erb</p>
<%= @match.rounds.count %>
<%= @match.id %>

<div id="invites-list">
  
</div>

<%= form_for @match.invites.new,:url => match_invites_path(@match.id),remote:true do |f| %>

  <%= f.submit %>

<% end %>
